// ----- MongoDB configuration -----
exports.db = [];
exports.db.url = 'mongodb://localhost/';
exports.db.database = 'dbname';
exports.db.username = 'user';
exports.db.password = 'pw';
exports.accesspw = 'pw';

