/*  ---------------------------------------------------------
	RESET
	---------------------------------------------------------
*/

html, body, div, span, a, img,
h1, h2, h3, h4, h5, h6, p, 
ol, ul, li, b, big, blockquote,
cite, code, em, i, pre, small, strong, sub, sup,
form, table, tr, th, td,
textarea, input, select {
	font-family: inherit; font-size: 100%; font-weight: inherit; font-style: inherit; margin: 0; padding: 0; border: 0; outline: 0; }


/*  ---------------------------------------------------------
	GENERAL STYLES
	---------------------------------------------------------
*/

body { background-color: #fff; color: #444; font-family: Georgia, Times New Roman, serif; font-size: 12px; letter-spacing: 1px; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 16px; }
h1 { font-size: 36px; line-height: 40px;  }

#container { padding: 20px;  }
#main {  }

/* --- header --- */
#menu { color: #999; padding-bottom:20px; text-transform: uppercase; }
#menu a { text-decoration: none; color: #999; }
#menu a:hover { color: #666; }

/* --- cols --- */

#mainbar { width: 600px; margin-left: 0px; padding-left: 0px; padding-right: 50px; display: block; float: left; }
#sidebar { width: 200px; background-color:#dddddd; float: left; padding: 10px; }
#col { width: 45%; float: left;}

/* --- forms --- */
form { }
input, textarea { letter-spacing: 1px; resize: none; font-size: 16px; line-height: 16px; color: #000;  }

input, textarea { padding: 5px; margin-bottom:15px; margin-right:5px; }
#dream, input, textarea { border: solid 1px #f8f8f8; background-color: #eee; }
.noEdit #dream, .noEdit input, .noEdit textarea {  border: 1px solid #aaa; background-color: #fff; }       

.noEdit label, .noEdit .cat_title { color: #aaa; }

#dream:hover, input:hover, textarea:hover { border: 1px solid #ddd;  }
#dream:focus, input:focus, textarea:focus { border: 1px solid #4cf;  }

.noEdit #dream:hover, .noEdit input:focus, .noEdit textarea:focus { border: 1px solid #ccc; }
.noEdit #dream:focus, .noEdit input:hover, .noEdit textarea:hover { border: 1px solid #bbb; }

#diary, #interpretation, #title { width: 100%; }

/*#date #inputDate { width: 300px; background-color: #ff0; }*/


#diary, #interpretation { height: 60px; }
label, .cat_title { display: block; font-family: sans-serif; font-size: 12px; }
#mainbar > div { margin-bottom: 22px; }
#submit, #buttons > div { border: 1px solid #666; background-color: #eee; color: #000; cursor:pointer;  }
#submit { padding: 10px; margin-bottom: 20px; display: inline-block; }
#buttons > div { padding: 2px; margin-right: 5px; min-width: 16px; text-align: center; font-size: 12px; }
#submit:hover,
#buttons > div:hover { background-color: #ccc; border: 1px solid #4cf; };

#log { color: #f44; margin-bottom: 16px; }


#dream { margin-bottom:15px; }
#mainbar #dream, .highlight, .inputText, .inputText textarea { width: 100%; height: 300px; }
#dream { position: relative;  }
#dream .wrap { padding: 0px; }
#dream .highlight, #dream .inputText { position: absolute; }
#dream .highlight { overflow-x: hidden !important; overflow-y: auto !important; position: absolute !important; top: 0; }
 #dream textarea { /*overflow-y: scroll;*/ z-index: 999; border: none; padding: 0px; margin: 0px; font-size: 13px; 
	line-height: 20px; background-color: #f0f; background: transparent; border-radius: 0;   }	/*overflow: hidden;*/
#dream textarea:focus, #dream textarea:hover { border: none; }
#dream #echoer { width: auto !important; height: auto !important; overflow: hidden !important;
	z-index: 998; border: none; padding: 0px; margin: 0px; font-size: 13px; line-height: 20px; 
	white-space: pre-wrap; word-wrap: break-word; color: transparent;  }
#dream #echoer b span, #dream #echoer i span { display: inline-block; /*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); color: transparent;*/  }
#dream #echoer b { z-index: 998; font-weight: normal; display: inline-block; background-color: #d5d5d5; }
#dream #echoer i { z-index: 998; font-weight: normal; display: inline-block; background-color: #aef; }
#dream .hide { display: none; }
/*#dream .echoer span { background-color: #ff5; }*/



.taglist { display: block;  }
h3 { font-size: 20px; font-weight: normal; }
.taglist ul, .tagcloud ul { list-style-type: none; margin-bottom: 20px; }
.taglist ul li { display: table; margin-bottom: 7px; padding: 3px; }
.tagcloud ul li { display: inline-block; margin-bottom: 7px; padding: 3px; margin-right:10px; }
#characters.taglist ul li, #characters.tagcloud ul li { background-color: #4cf;  }
.taglist ul li, .tagcloud ul li { background-color: #ccc; }
.taglist ul li:hover, .tagcloud ul li:hover { color: #000; cursor: pointer;}
#characters.taglist ul li:hover, #characters.tagcloud ul li:hover { background-color: #4dd5ff;  }
#tags.taglist ul li:hover, #tags.tagcloud ul li:hover { background-color: #d5d5d5;  }



/* --- archive --- */
#chart_div {padding-bottom: 30px;}
#archive {  }
#archive #dream > div, #archive #sort_bar > div { float: left; margin: 3px;  }
#archive #dream #buttons { margin: 0px; }
#archive #dream #buttons > div { float: left; }

#archive #dream, #archive #sort_bar { width: 820px; display: table; clear: both; margin-bottom: 3px; }
#archive #dream { background-color: #fff; border: solid 1px #f4f4f4; }
#archive #sort_bar { font-family: Arial, sans-serif; }
#sort_bar a, #sort_bar a:visited {text-decoration: none; color: #333;  }
#sort_bar a:hover {text-decoration: none; color: #4cf;  }

#archive #dream:hover { border: solid 1px #ddd;  }
#archive #date { width: 76px; font-family: Arial, sans-serif; }
#archive #title { width: 395px; padding-left: 4px; }
#archive #dream #title { font-size: 16px; background-color: #ddd;  }
#archive #dream #title:hover { color: #4cf; background-color: #eee; cursor:pointer; }
#archive #characters { width: 95px; font-family: Arial, sans-serif; }
#archive #tags { width: 60px; font-family: Arial, sans-serif; }
#archive #words { width: 80px; font-family: Arial, sans-serif; }
#archive #buttons { width: 65px; font-family: Arial, sans-serif; }
#archive #dream #buttons > div { border: 0px; text-transform: upperCase; font-size: 10px; margin-top: 3px;}
#archive #dream #buttons > div:hover { border: 0px; }
